<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/media-queries.css">
    <link rel="stylesheet" href="css/font/_flaticon.scss">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <section class="header-icons-container">
            <div class="icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
        </section>
        <nav>
            <section class="nav-logo-container">
                <a href="../index.html">
                    <img src="../assets/img/logo-negro.png" alt="logotipo">
                </a>
            </section>
            <section class="profile-link">
                <a href="./perfil.html">Sobre mí</a>
            </section>
        </nav>
    </header>

    <main class="blogs-main">
        <section class="blogs-news-container">
            <div class="grid-container blogs-main-new">
                <h3>Soy un titulo</h3>
                <div class="blogs-news-img-container">
                    <img src="../assets/img/main-news-img.png" alt="">
                </div>
                <div class="blogs-news-info-container">
                    <h2>Título del blogpost</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam vero veniam officiis? Error magnam numquam.</p>
                    <a href="../views/blog.html" class="blogs-button">Leer más</a>
                </div>
            </div>
        </section>
        <section class="blogs-posts-container">
            <div class="grid-container">
                <h3>últimos blogposts</h3>
                <!-- articulo 1 -->
                <article class="post-container">
                    <img src="../assets/img/post-1.png" alt="">
                    <p>Título del blog post</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ut a fugiat soluta consequatur nisi sunt.</p>
                    <a href="../views/blog.html" class="blogs-button">Leer más</a>
                </article>
                <!-- articulo 2 -->
                <article class="post-container">
                    <img src="../assets/img/post-2.png" alt="">
                    <p>Título del blog post</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ut a fugiat soluta consequatur nisi sunt.</p>
                    <a href="../views/blog.html" class="blogs-button">Leer más</a>
                </article>
                <!-- articulo 3 -->
                <article class="post-container">
                    <img src="../assets/img/post-3.png" alt="">
                    <p>Título del blog post</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ut a fugiat soluta consequatur nisi sunt.</p>
                    <a href="../views/blog.html" class="blogs-button">Leer más</a>
                </article>
                <!-- articulo 4 -->
                <article class="post-container">
                    <img src="../assets/img/post-1.png" alt="">
                    <p>Título del blog post</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ut a fugiat soluta consequatur nisi sunt.</p>
                    <a href="../views/blog.html" class="blogs-button">Leer más</a>
                </article>

            </div>
        </section>
    </main>

    <footer>
        <p>m ipsum dolor sit amet consectetur adipisicing elit. Suscipit ut a fugiat soluta consequatur ni</p>
    </footer>
</body>
</html>

